<h1>Superlatives</h1>

<%= simple_form_for(@superlative) do |f| %>
  <%= f.input :name %>
  <%= f.button :submit %>
<% end %>


<% @superlatives.each do |superlative| %>
  <%= link_to superlative.name, superlative_path(superlative) %><br><br>
<% end %>